SwingApp/xsd/enumerations.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="enums">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="enum" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value" maxOccurs="unbounded"
								minOccurs="0" />
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required">
						</xs:attribute>
						<xs:attribute name="label" type="xs:string" use="required">
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>