SwingApp/xsd/xml-map.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema 
   elementFormDefault="qualified"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="map">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:attribute name="class-name" type="xs:string" use="required">
                  </xs:attribute>
                  <xs:attribute name="xml-file" type="xs:string" use="required">
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>